# Database
DATABASE_URL=postgresql://user:password@localhost:5432/erp_db

# CORS
CORS_ORIGIN=http://localhost:5173

# JWT
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRE=7d

# Bcrypt
BCRYPT_ROUND=10

# Razorpay
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret

# Node Environment
NODE_ENV=development
PORT=5000
